{% extends "base.html" %}

{% block content %}
  <h4>{{ file_name }}</h4>
  <div class="container pt-2 pb-5">
  <form class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <label for="column_select"></label>
           <select class="form-control"  id="column_select" name="column_select">
                <option selected>Select column to search</option>
                {% for col in data_columns %}
                <option>{{ col }}</option>
                {% endfor %}
            </select>
 
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_term" name="search_term">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn" >Search</button>
   </div>
  </form>
</div>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        {% for col in data_columns %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          {% for col in row.values() %}
            <td>{{ col }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if prev_page is defined %}
        <li class="page-item"><a class="page-link" href="?page={{ prev_page }}&file_name={{ file_name }}{% if search_term is not none and (column_select!= 'Select column to search' or column_select is not none) %}&search_term={{ search_term }}&column_select={{ column_select }}{% endif %}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
      {% endif %}

      {% if current_page > 4 %}
        <li class="page-item"><a class="page-link" href="?page=1&file_name={{ file_name }}{% if search_term is not none and (column_select!= 'Select column to search' or column_select is not none) %}&search_term={{ search_term }}&column_select={{ column_select }}{% endif %}">1</a></li>
        <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}

      {% for page in range([current_page - 2, 1]|max, [current_page + 3, num_pages + 1]|min) %}
        {% if page == current_page %}
          <li class="page-item active"><span class="page-link">{{ page }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ page }}&file_name={{ file_name }}{% if search_term is not none and (column_select!= 'Select column to search' or column_select is not none) %}&search_term={{ search_term }}&column_select={{ column_select }}{% endif %}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if current_page < num_pages - 3 %}
        <li class="page-item"><span class="page-link">...</span></li>
        <li class="page-item"><a class="page-link" href="?page={{ num_pages }}&file_name={{ file_name }}{% if search_term is not none and (column_select!= 'Select column to search' or column_select is not none) %}&search_term={{ search_term }}&column_select={{ column_select }}{% endif %}">{{ num_pages }}</a></li>
      {% endif %}

      {% if next_page is defined %}
        <li class="page-item"><a class="page-link" href="?page={{ next_page }}&file_name={{ file_name }}{% if search_term is not none and (column_select!= 'Select column to search' or column_select is not none) %}&search_term={{ search_term }}&column_select={{ column_select }}{% endif %}">Next</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
  </nav>

  <form action="/showdataframe/{{ file_name }}" method="get">
    <div class="form-group">
      <label for="page-input">Enter page number:</label>
      <input type="number" class="form-control" id="page-input" name="page" min="1" max="{{ num_pages }}" value="{{ current_page }}">
    </div>
    {% if search_term is defined and (column_select != 'Select column to search' or column_select is not none) %}
      <input type="hidden" name="search_term" value="{{ search_term }}">
      <input type="hidden" name="column_select" value="{{ column_select }}">
    {% endif %}
    <button type="submit" class="btn btn-primary">Go</button>
  </form>
  

    
{% endblock %}
